* {
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    color: #f7fbfcd1;
}
body {
    margin: 0px;
    padding: 0px;
    background-image: url(apoio/greg-rakozy-0LU4vO5iFpM-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.linha {
    display: flex;
}
.circulo img {
    width: 60px;
    height: 60px;
}
label {
    padding: 45px;
    height: 90px;
    width: 90px;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#centro {
    position: absolute;
    height: 358px;
    width: 357px;
    top: 378px;
    left: 493px;
    border-radius: 50%;
}
#psico {
    position: absolute;
    top: 136px;
    left: 233px;
    padding: 83px 78px 71px 96px;
    background: linear-gradient(135deg, rgb(0,0,0,0.5), rgb(120,0,255));
    clip-path: polygon(5% 72%, 33% 33%, 72% 0%, 98% 45%, 65% 73%, 49% 99%);
}
#direi {
    position: absolute;
    top: 51px;
    left: 416px;
    padding: 52px 54px 54px 112px;
    background: linear-gradient(150deg, rgba(0,0,0,0.5), rgba(0,0,255));
    clip-path: polygon(4% 43%, 39% 20%, 99% 8%, 99% 73%, 60% 80%, 31% 99%);
}
#arque {
    position: absolute;
    top: 46px;
    left: 665px;
    padding: 54px 81px 49px 73px;
    background: linear-gradient(210deg, rgba(0,0,0,0.6), rgb(0,120,255));
    clip-path: polygon( 3% 11%, 62% 21%, 100% 43%, 75% 100%, 37% 81%, 3% 77%);
}
#econo {
    position: absolute;
    top: 161px;
    left: 854px;
    margin: -38px -15px;
    padding: 89px 89px 76px 95px;
    background: linear-gradient(45deg, rgb(0,255,255), rgba(0,0,0,0.5));
    clip-path: polygon(26% 3%, 63% 33%, 91% 74%, 52% 98%, 30% 66%, 4% 46%);
}
#educa {
    background: linear-gradient(135deg, rgb(120,0,255), rgba(255,255,255,0.2));
    clip-path: polygon(1% 60%, 19% 31%, 56% 0%, 93% 70%, 77% 83%, 66% 99%);
    position: absolute;
    top: 248px;
    left: 363px;
    padding: 66px 63px 60px 80px;
}
#polit {
    background: linear-gradient(180deg, rgb(0,0,255), rgba(255,255,255,0.2));
    clip-path: polygon(0% 27%, 32% 10%, 76% 3%, 76% 88%, 55% 91%, 38% 99%);
    position: absolute;
    top: 190px;
    left: 496px;
    padding: 62px 56px 58px 82px;
}
#histo {
    background: linear-gradient(180deg, rgb(0,120,255), rgba(255,255,255,0.2));
    clip-path: polygon(12% 1%, 51% 5%, 95% 22%, 54% 97%, 34% 88%, 12% 86%);
    position: absolute;
    top: 195px;
    left: 647px;
    padding: 60px 60px;
}
#socio {
    background: linear-gradient(45deg, rgb(255,255,255,0.2), rgba(0,255,255));
    clip-path: polygon(6% 66%, 41% 6%, 70% 25%, 94% 56%, 32% 90%, 21% 76%);
    position: absolute;
    top: 227px;
    left: 748px;
    padding: 86px 78px;
}
#liter {
    position: absolute;
    top: 314px;
    left: 151px;
    padding: 80px 80px;
    background: linear-gradient(120deg, rgba(0,0,0,0.5), rgb(255,0,255));
    clip-path: polygon(13% 97%, 20% 43%, 38% 1%, 83% 26%, 70% 57%, 65% 97%);
}
#lingu {
    position: absolute;
    top: 358px;
    left: 305px;
    padding: 80px 80px;
    background: linear-gradient(120deg, rgba(255,0,255), rgba(255,255,255,0.2));
    clip-path: polygon(5% 79%, 10% 40%, 23% 9%, 84% 43%, 76% 60%, 74% 79%);
}
#geogr {
    position: absolute;
    top: 366px;
    left: 825px;
    padding: 80px 80px;
    background: linear-gradient(60deg, rgb(255,255,255,0.2), rgb(15,255,135));
    clip-path: polygon(1% 40%, 62% 4%, 78% 37%, 82% 75%, 11% 75%, 9% 55%);
}
#comun {
    position: absolute;
    top: 308px;
    left: 967px;
    padding: 80px 80px;
    background: linear-gradient(240deg, rgba(0,0,0,0.5), rgb(15,255,134));
    clip-path: polygon(22% 60%, 6% 27%, 49% 2%, 69% 41%, 78% 98%, 26% 98%);
}
#arte1 {
    position: absolute;
    top: 550px;
    left: 155px;
    padding: 80px 80px;
    background: linear-gradient(60deg, rgb(0,0,0, 0.5), rgb(255,15,136));
    clip-path: polygon(17% 51%, 12% 4%, 64% 4%, 67% 40%, 81% 75%, 39% 100%);
}
#arte2 {
    position: absolute;
    top: 507px;
    left: 303px;
    padding: 80px 80px;
    background: linear-gradient(60deg, rgb(255,15,136), rgb(255,255,255, 0.2));
    clip-path: polygon(9% 56%, 6% 21%, 75% 21%, 76% 36%, 84% 55%, 23% 91%);
}
#biolo {
    position: absolute;
    top: 508px;
    left: 831px;
    padding: 80px 80px;
    background: linear-gradient(120deg, rgb(255,255,255,0.2), rgb(0,255,0));
    clip-path: polygon(7% 38%, 9% 19%, 80% 19%, 75% 54%, 61% 90%, 0% 55%);
}
#saude {
    position: absolute;
    top: 543px;
    left: 977px;
    padding: 80px 80px;
    background: linear-gradient(120deg, rgb(0,255,0), rgb(0,0,0,0.5));
    clip-path: polygon(18% 40%, 23% 5%, 74% 5%, 68% 55%, 49% 100%, 4% 76%);
}
#filos {
    position: absolute;
    top: 638px;
    left: 360px;
    padding: 80px 80px;
    background: linear-gradient(45deg, rgb(255,0,0), rgb(255,255,255,0.2));
    clip-path: polygon(23% 67%, 1% 40%, 62% 4%, 72% 19%, 88% 30%, 53% 90%);
}
#matem {
    position: absolute;
    top: 698px;
    left: 490px;
    padding: 80px 80px;
    background: linear-gradient(30deg, rgb(255,136,14), rgb(255,255,255,0.2));
    clip-path: polygon(2% 67%, 37% 7%, 53% 14%, 72% 16%, 72% 86%, 30% 81%);
}
#fisic {
    position: absolute;
    top: 698px;
    left: 635px;
    padding: 80px 80px;
    background: linear-gradient(330deg, rgb(255,255,0), rgba(255,255,255,0.2));
    clip-path: polygon(15% 86%, 15% 16%, 33% 14%, 50% 7%, 86% 68%, 52% 82%);
}
#quimi {
    position: absolute;
    top: 627px;
    left: 759px;
    padding: 80px 80px;
    background: linear-gradient(315deg, rgb(136,255,13), rgb(255,255,255,0.2));
    clip-path: polygon(1% 35%, 16% 24%, 28% 8%, 89% 43%, 65% 75%, 37% 96%);
}
#teolo {
    position: absolute;
    top: 722px;
    left: 251px;
    padding: 80px 80px;
    background: linear-gradient(45deg, rgb(0,0,0,0.5), rgb(255,0,0));
    clip-path: polygon(27% 70%, 1% 32%, 43% 7%, 65% 34%, 96% 57%, 70% 101%);
}
#compu {
    position: absolute;
    top: 847px;
    left: 430px;
    padding: 80px 80px;
    background: linear-gradient(30deg, rgb(0,0,0,0.5), rgb(255,136,14));
    clip-path: polygon(0% 53%, 25% 9%, 54% 23%, 96% 28%, 95% 79%, 45% 73%);
}
#engen {
    position: absolute;
    top: 845px;
    left: 664px;
    padding: 80px 80px;
    background: linear-gradient(340deg, rgb(0,0,0,0.2), rgba(255,255,0));
    clip-path: polygon(3% 80%, 4% 29%, 41% 24%, 75% 10%, 100% 55%, 53% 74%);
}
#mater {
    position: absolute;
    top: 732px;
    left: 852px;
    padding: 80px 80px;
    background: linear-gradient(135deg, rgba(136, 255, 13), rgba(0, 0, 0, 0.5));
    clip-path: polygon(26% 100%, 1% 55%, 29% 34%, 54% 1%, 99% 26%, 68% 68%);
}
#apoio {
    width: 90vw;
    height: 100px;
    position: absolute;
    top: 1100px;
}

/* easter egg */

#mundo {
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 1270px;
    top: 7px;
    padding: 1rem;
}
#mundo img {
    width: 2rem;
    height: 2rem;
    display: none;
}
#mundo p {
    display: none;
}
#mundo:hover img , #mundo:hover p {
    display: block;
}

/* modal */

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}
.modal:target {
    visibility: visible;
    opacity: 1;
}
.modal_content {
    border-radius: 4px;
    position: relative;
    width: 567px;
    max-width: 90%;
    background: #fff;
    padding: 1em;
    display: flex;
}
.modal_content h1 {
    color: #000000;
    display: flex;
    justify-content: center;
}
.modal_content p {
    color: #000000;
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.modal_content span {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.modal_content img {
    border-radius: 0.2rem;
    height: 143px;
    width: 76px;
}
.modal_close {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    background-color: blue;
    border-radius: 0.3rem;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}
.modal_acesso {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    background-color: red;
    border-radius: 0.3rem;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}